<div id="main_div">
    <div id="wallets">
        <h2>Mis billeteras</h2>
        <div id="wallets_inner">
            <div *ngFor = "let wallet of walletsList">
                <div id="wallet">
                    <p>{{wallet.name}}</p>
                    <p>{{wallet.total_amount | currency}}</p>
                    <i class="bi bi-caret-right-fill" (click)="getWalletId(wallet._id)" routerLink="wallets"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="calendar">
        <div id="agenda">     
            <app-agenda id="agenda_inner"></app-agenda>
        </div>
        <div id="buttons">
            <div id="buttons_inner">
                <button mat-button (click)="openModal('E')">Nuevo Evento</button>
                <button mat-button (click)="openModal('W')">Nueva Billetera</button>
            </div>
        </div>
    </div>
</div>
