<div id="main" >
    <div id="whitespace">
        <div id="body">
            <div id="changepwd" class="option-body">
                <h1>Recuperar contraseña</h1>
                <form [formGroup] = "passwordForm" class="forms_box" >
                    <input type="password" id="password" formControlName = "password" 
                    class="form-control" placeholder="Nueva contraseña">
                    <input type="password" id="password2" formControlName = "password2" 
                    class="form-control" placeholder="Confirma tu nueva contraseña">
                    <div class="btns">
                        <button  (click)="click_sub()" type="button" class="submit-btn" [disabled]="passwordForm.invalid">
                            GUARDAR
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>