#main{
    height: 100%;
    width: 100%;
    background-color: #2155BF;
    display: flex;
    justify-content: center;
    align-items: center;

    #whitespace{
        height: 60%;
        width:50%;
        background-color: #FFF;
        display: flex;
        border-radius: 30px;

        #body{
            height: 100%;
            width: 100%;
            align-items: center;

            .option-body{
                width: 100%;
                height: auto;
                
                h1{
                    font-size: 3em;
                    font-weight: 400;
                    margin: 3rem;
                }

                .forms_box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                    input{
                        margin: 1rem;
                        width: 50%;
                        border: 0;
                        background-color: #EEEEEE;
                        padding: 0.5rem;
                    }

                    .form-control.ng-touched.ng-invalid {
                        border: 2px solid #fc1d1d;
                    }
                    .form-control.ng-touched.ng-valid {
                        border: 2px solid rgb(30, 201, 30);
                    }
                
                    
                    .submit-btn:disabled, .submit-btn:enabled {
                        background: #FF3A7E;
                        border: none;
                        color: white;
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                        margin: 1rem;
                        width: 10rem;              
                        cursor: pointer;
                    }
                
                    .submit-btn:disabled{
                        opacity: 0.5;
                    }
                    
                }
            }

        }
    }
}