#main{
    background-color: #2155BF;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    .buttons{
        color: #FFF;
        cursor: pointer;
        &:hover{
            transform: translateY(-10px);
        }
        i{
            margin: 0 2rem;
            font-size: 3em;
        }
    }

    .active{
        i{
            border-bottom: 5px solid #F26BAA ;
        }
    }
}